@use '../variables' as *;

.filter {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

    }

    &__group {
        display: flex;
        border: 0;
        padding: 0;
        margin: 0;
        gap: 12px;

        &_choices {
            gap: 64px;
        }
    }

    &__radio {
        appearance: none;
        position: absolute;
    }

    &__label {
        border-radius: 300px;
        padding: 24px 16px 24px 60px;
        // padding-left: 60px;
        background-color: $white;
        font-family: $font-family;
        color: $dark;
        background-position: center left 16px;
        background-repeat: no-repeat;
        background-size: 40px;
        cursor: pointer;

        &_flower {
            background-image: url('/img/bouquet-flowers.png');
        }

        &_toys {
            background-image: url('/img/bear-toy.png');
        }

        &_postcard {
            background-image: url('/img/postcard.png');
        }

        &:hover {
            background-color: $orange;
            color: $white;
        }
    }

    &__radio:focus-visible + &__label {
        outline: 2px solid $light-orange;
        outline-offset: 1px;
    }
    &__radio:checked + &__label {
        background-color: $light-orange;
        color: $white;

    }

    &__choices {}

    &__select {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__input-price {}

    &__type-list {}

    &__type-item {}

    &__type-button {}
}