@use '../variables' as *;
@use '../media' as *;

.filter {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        flex-wrap: wrap;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        border: 0;
        padding: 0;
        margin: 0;
        gap: 12px;

        &-choices {
            gap: 64px;

            @include mobile {
                gap: 40px;
            }
        }
    }

    &__radio {
        appearance: none;
        position: absolute;
    }

    &__label {
        border-radius: 300px;
        padding: 24px 16px 24px 60px;
        background-color: $white;
        font-family: $font-family;
        color: $dark;
        background-position: center left 16px;
        background-repeat: no-repeat;
        background-size: 40px;
        cursor: pointer;

        @include mobile {
            padding: 11px 12px 11px 40px;
            background-size: 24px;
            background-position: center left 12px;
        }

        &-flower {
            background-image: url('/img/bouquet-flowers.png');
        }

        &-toys {
            background-image: url('/img/bear-toy.png');
        }

        &-postcard {
            background-image: url('/img/postcard.png');
        }

        &:hover {
            background-color: $orange;
            color: $white;
        }
    }

    &__radio:focus-visible + &__label {
        outline: 2px solid $light-orange;
        outline-offset: 1px;
    }
    &__radio:checked + &__label {
        background-color: $light-orange;
        color: $white;

    }

    // &__choices {}

    &__select {
        display: flex;
        align-items: center;
        gap: 8px;

        &:after {
            content: '';
            width: 8px;
            height: 8px;
            background: url('/img/arrow.svg') no-repeat center/contain;
            transform: scale(-1);
        }
    }
    // &__price {

    // }
    // &__choices-box {

    // }
    // &__input-price {}

    // &__type-list {}

    // &__type-item {}

    // &__type-button {}
}